.flex-container {
    border: 2px solid black;
    display: flex;
     
    /* flex-direction: column;  */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
    justify-content: center;
}

.item{
    border: 1px solid black;
    width: 80px;
    height: 30px;
}


.flex-container2{
    margin-top: 20px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}


 .nav{
    display: flex;
    /* width: 150px; */
  justify-content: space-between;
  align-items: center;
gap: 10px;
}

.btn{
    display: flex;
    width: 114px;
    gap: 10px;
}
.logo{
 display: flex;
 align-items: center;
color: aquamarine;
background-color: black;
 
}
